<div class="container">
<h1><%= @article.title %></h1>
<p><%= @article.body %></p>

<ul class="list-group" style="width: 18rem;">
    <li class="list-group-item"><%= link_to "Edit", edit_article_path(@article) %></li>
    <li class="list-group-item"><%= link_to "Destroy", article_path(@article), data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
    } %></li>
    <li class="list-group-item"><%= link_to "Back", root_path%></li>
</ul>
<br>

<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>
</div>